footer.footer
    .footer__container.container 
        p.footer__copy © 2018 «LOREMIPSUM.NET» Все права защищены.
        ul.footer__payment-list 
            li.footer__payment-list-item Qiwi wallet
            li.footer__payment-list-item Yandex Money
            li.footer__payment-list-item Web Money
        ul.footer__social-list 
            li.footer__social-list-item
                a.footer__social-list-item-link(href="mailto:info@ipsum228.com") info@ipsum228.com
            li.footer__social-list-item
                a.footer__social-list-item-link(href="#") Мы вконтакте

