.select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #272733;
    border-radius: 3px;
    border: 1px solid #FFF;
    background-color: rgba(255, 255, 255, 0.85);
    @media ($device-hover) and ($device-pointer) {
        &:hover {
            background-color: rgb(61, 64, 80);
            border-color: rgb(61, 64, 80);
            color: white;
            border-radius: 3px;
        }
    }
    &__current {
        position: relative;
        box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
        cursor: pointer;
        outline: none;
        height: 100%;

        &:focus {
            & + .select-box__list {
                opacity: 1;
            
                animation-name: none;
            
                .select-box__option {
                    cursor: pointer;
                }
            }

            .select-box__icon {
                transform: translateY(-50%) rotate(180deg);
                path {
                    fill: white;
                }
            }
        }
    }
    
    &__icon {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 20px;
        opacity: 0.3;
        transition: 0.2s ease;
    }
    
    &__value {
        display: flex;
    }
    
    &__input {
        display: none;

        &:checked + .select-box__input-text {
            display: block;
        }
    }
    
    &__input-text {
        display: none;
        height: 48px;
        width: 100%;
        margin: 0;
        padding: 10px;
        border-radius: 3px;
    }
    
    &__list {
        position: absolute;
        width: 100%;
        padding: 0;
        list-style: none;
        opacity: 0;
        
        animation-name: HideList;
        animation-duration: 0.5s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: step-start;
        box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);

        height: 180px;
        overflow: auto;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom: 1px solid rgb(61, 64, 80);
        &::-webkit-scrollbar-track {
            background-color: #3D4050;
            border-radius: 4px;
        }
        &::-webkit-scrollbar {
            border-right: none;
            width: 7px;
        }
        &::-webkit-scrollbar-thumb {
            color: #3E9CDC;
            background-color: #3E9CDC;
            border: 1px solid transparent;
            border-radius: 4px;
            width: 100%;
        }
    }
    
    &__option {
        display: block;
        padding: 10px 10px;
        background-color: rgb(39, 39, 51);
        color: white;
        border: 1px solid rgb(61, 64, 80);
        border-top: none;
        border-bottom: none;
        border-right: none;
        &:hover,
        &:focus {
            color: #42A9ED;
        }
    }
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}