.menu {
    &__button {
        display: none;
    }
    &__body {
        left: -100%;
    }
}

@media screen and #{$tab-port} {
    .menu {
        &__button {
            display: block;
            border: none;
            padding: 0;
            position: relative;
            z-index: 10;
            background: none;
        }
        &__button::before,
        &__button::after,
        &__button span {
            content: "";
            width: 21px;
            background: white;
            display: block;
            height: 2px;
            border-radius: 3px;
            margin: 6px 0;
            transition: 0.5s;
        }
        &__body {
            position: absolute;
            padding: 20px 30px 50px;
            height: max-content;
            transition: 0.5s;
            width: 100%;
            top: 99px;
            background: var(--light-green);
            z-index: 5;
            &_active {
                display: flex;
                transform: translate(0px, 0px);
                left: 0;
                z-index: 5;
                background-color: rgb(16, 16, 29);
            }
        }
        &__button_active::before {
            transform: translateY(8px) rotate(135deg);
        }
        &__button_active::after {
            transform: translateY(-8px) rotate(-135deg)
        }
        &__button_active span {
            transform: scale(0);
        }
        &__list {
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and #{$mobile} {
    .menu {
        &__body {
            padding: 20px 15px 40px;
            top: 79px;
        }
    }
}