.footer {
    background: #3D4050;
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__copy {
        font-family: Lato, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: white;
    }
    &__payment-list {
        display: flex;
        gap: 38px;
        margin-left: 30px;
        margin-right: 30px;
        padding-left: 45px !important;
        padding-right: 45px !important;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
    &__payment-list-item {
        font-family: Lato, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #C3C3C3;
        margin-left: 30px;
        white-space: nowrap;
        position: relative;
        &:first-child {
            &::before {
                content: "";
                position: absolute;
                left: -30px;
                display: block;
                width: 20px;
                height: 20px;
                background: url('@img/QIWI-wallet-ico.png') 0 0 no-repeat;
                background-size: contain !important;
            }
        }
        &:nth-child(2) {
            &::before {
                content: "";
                position: absolute;
                left: -30px;
                display: block;
                width: 20px;
                height: 20px;
                background: url('@img/Yandex-Money-ico.png') 0 0 no-repeat;
                background-size: contain !important;
            }
        }
        &:last-child {
            &::before {
                content: "";
                position: absolute;
                left: -30px;
                display: block;
                width: 20px;
                height: 20px;
                background: url('@img/Web-Money-ico.png') 0 0 no-repeat;
                background-size: contain !important;
            }
        }
    }
    &__social-list {
        display: flex;
        gap: 40px;
    }
    &__social-list-item {
        margin-left: 30px;
        position: relative;
        &:first-child {
            &::before {
                content: "";
                position: absolute;
                left: -30px;
                display: block;
                width: 20px;
                height: 20px;
                background: url('@img/mail-svg.svg') 0 0 no-repeat;
                background-size: contain !important;
            }
        }
        &:last-child {
            &::before {
                content: "";
                position: absolute;
                left: -30px;
                display: block;
                width: 20px;
                height: 20px;
                background: url('@img/vk-logo-svg.svg') 0 0 no-repeat;
                background-size: contain !important;
            }
        }
    }
    &__social-list-item-link {
        font-family: Lato, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: white;
    }
}

@media screen and (max-width: 1173px) {
    .footer {
		&__container {
            justify-content: space-evenly;
		}
		&__copy {
            order: 3;
            align-self: center;
            margin-top: 40px;
            width: 100%;
            text-align: center;
		}
		&__payment-list {
            padding-left: 0 !important;
            border-left: none;
            border-right: 0;
            margin-left: 0;
		}
    }
}

@media screen and (max-width: 821px) {
    .footer {
		&__container {
            
		}
		&__copy {
		}
		&__payment-list {
            padding-right: 0 !important;
            margin-right: 0;
        }
		&__payment-list-item {
        }
		&__social-list {
            justify-content: center;
            width: 100%;
            margin-top: 40px;
		}
		&__social-list-item {
		}
		&__social-list-item-link {
		}
    }
}

@media screen and #{$tab-land} {
    .footer {
		&__container {
		}
		&__copy {
		}
		&__payment-list {
		}
		&__payment-list-item {
		}
		&__social-list {
		}
		&__social-list-item {
		}
		&__social-list-item-link {
		}
    }
}

@media screen and #{$tab-port} {
    .footer {
		&__container {
		}
		&__copy {
		}
		&__payment-list {
		}
		&__payment-list-item {
		}
		&__social-list {
		}
		&__social-list-item {
		}
		&__social-list-item-link {
		}
    }
}

@media screen and #{$mobile} {
    .footer {
		&__container {
            justify-content: space-around;
            gap: 40px;
		}
		&__copy {
            font-size: 12px;
            margin-top: 0;
		}
		&__payment-list {
            gap: 30px;
            flex-direction: column;
            margin-right: 50px;
		}
		&__payment-list-item {
        }
		&__social-list {
            flex-direction: column;
            margin-bottom: auto;
            width: auto;
            margin-top: 0;
            gap: 30px;
		}
		&__social-list-item {
		}
		&__social-list-item-link {
		}
    }
}

@media screen and (max-width: 381px) {
    .footer {
		&__container {
		}
		&__copy {
		}
		&__payment-list {
            margin-right: auto;
            margin-left: 15px;
		}
		&__payment-list-item {
        }
		&__social-list {
            margin-left: 15px;
            margin-right: auto;
		}
		&__social-list-item {
		}
		&__social-list-item-link {
		}
    }
}
