.header {
    background-color: rgba(16, 16, 29, 0.90);
    position: absolute;
    width: 100%;
    z-index: 5;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        position: relative;
    }
}

.menu {
    &__list {
        display: flex;
        gap: 60px;
    }
    &__list-item-link {
        text-transform: uppercase;
    }
}

@media screen and #{$tab-land} {
    .header {
        &__logo {
            width: 200px;
            height: 35px;
        }
    }
    .menu {
        &__list {
            gap: 40px;
        }
    }
}

@media screen and #{$mobile} {
    .header {
        &__container {
            padding-top: 22px;
            padding-bottom: 22px;
        }
    }
}
