body,
html {
    height: 100%
}
 
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%
}

.main {
    flex: 0 0 auto
}

.footer {
    flex: 0 0 auto
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px
}

@media screen and #{$tab-land} {
    .container {
        padding: 0 30px
    }
}

@media screen and #{$mobile} {
    .container {
        padding: 0 15px
    }
}