:root {
    --light-blue: #3E9CDC;
    --dark-green: #286690;
}

@import "reset";
@import "vars";
@import "components";
@import "global";
@import "fonts";

@import "sections";

body {
    font-family: 'Loto', sans-serif;
    font-weight: 400;
}

.body_lock{
    overflow: hidden;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}