section.hero
    .hero__container.container
        h1.hero__title <span class="marker">Lorem ipsum</span> dolor sit <br class="br-desktop">amet consectetur <span class="marker">adipiscing</span>
        .hero__description
            p.hero__description-title At vero eos et accusamus et iusto odio dignissimos ducimus!
            ul.hero__description-list 
                li.hero__description-list-item Totam rem aperiam eaque ipsa
                li.hero__description-list-item Sit voluptatem accusantium doloremque laudantium
                li.hero__description-list-item Sed ut perspiciatis, unde omnis iste natus error
        .hero__links 
            a.hero__link-order(href="#") заказать
            a.hero__link-more(href="#") подробнее